.admin-page {
  display: flex;
}

.admin-page p {
  margin: 15px 0;
}

.blocked-users {
  /*display: flex;
  flex-direction: column;
  align-items: center;*/
  flex: 1;
  max-width: 350px;
  height: 500px;
  margin: 0 auto;
  margin-top: 50px;
  border: 2px solid #9b852c;
  border-radius: 20px;
  padding: 20px;
  background-color: rgba(157, 157, 157, 0.19);
  backdrop-filter: blur(10px); /* Розмиття */
}

.blocked-users h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blocked-users ul {
  list-style-type: none;
  padding: 5px;
  margin: 5px;
}


.blocked-user-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 5px;
}



.input-user {
    /*display: flex;
  flex-direction: column;
  align-items: center;*/
  flex: 1;
  max-width: 350px;
  height: 245px;
  margin: 0 auto;
  margin-top: 50px;
  border: 2px solid #9b852c;
  border-radius: 20px;
  padding: 20px;
  background-color: rgba(157, 157, 157, 0.19);
  backdrop-filter: blur(20px); /* Розмиття */
}

.input-section {
  display: flex;
  align-items: center;
  margin: 5px;
  margin-bottom: 20px;
}

input[type="tel"] {
  padding: 10px;
  margin-right: 10px;
}

button {
  padding: 10px 25px;
  background-color: #2ecc71;
  border-radius: 4px;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #27ae60;
}

.user-status {
  margin: 5px;
}

.user-status button {
  padding: 10px 20px;
  background-color: #2ecc71;
  border-radius: 4px;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  width: 100px;
}

.user-status button:hover {
  background-color: #27ae60;
}
