/* Стилі для Navbar */

.mainDia {
  margin: 20px 20px;
}
.mainDia nav {
  border: 2px solid #9b852c;
  border-radius: 20px;
  padding: 20px;
  background-color: rgba(48, 22, 4, 0.714);
  padding: 10px;
  text-align: center; /* Це центрує текст посередині */
}

.mainDia ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center; /* Це центрує вкладки */
}

.mainDia li {
  border: 2px solid #9b852c;
  border-radius: 10px;
  margin-right: 30px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  padding: 15px 100px; /* Збільшивши padding для більшого тачу і розміщення посередині */
  width: 100px;
}

.mainDia li.active {
  background-color: #236d2876;
}

/* Стилі для контенту вкладок */
.diagram-content {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.firstline,
.secondline {
  display: flex;
  justify-content: space-between;
}

.diagram-window {
  border: 2px solid #9b852c;
  border-radius: 10px;
  padding: 15px;
  background-color: rgba(48, 22, 4, 0.714);
  color: #fff;
  width: 48%; /* Зменшено, щоб вмістився у дві рядки */
  text-align: center;
  margin: 10px 10px;
}

.diagram-window h2 {
  color: #276918;
}


